% -*- mode: erlang -*-
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,fail_on_warning
	   ]}.

{require_min_otp_vsn, "R16B01"}.

{deps, [{cowboy, ".*", 
	 {git, "git://github.com/extend/cowboy.git", "1.0.0"}}
       ]}.

{escript_incl_apps, [
		     cowboy,
		     cowlib,
		     ranch
		    ]}.
{escript_emu_args, "%%! -smp auto -pa averell/averell/ebin -pa averell/averell/deps/ranch/ebin -pa averell/averell/deps/cowlib/ebin -pa averell/averell/deps/cowboy/ebin \n"}.
