% -*- mode: erlang -*-
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,fail_on_warning
	   ]}.

{require_min_otp_vsn, "R16B01"}.

{deps, [{cowboy, ".*", 
	 {git, "git://github.com/extend/cowboy.git", "1.0.0"}},
	{cowboy_cors, "0.3.0", 
	 {git, "git://github.com/danielwhite/cowboy_cors.git", "v0.3.0"}},
	{getopt, ".*",
	 {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}}
       ]}.

{escript_incl_apps, [
		     cowboy,
		     cowlib,
		     cowboy_cors,
		     ranch,
		     getopt
		    ]}.
{escript_emu_args, "%%! -smp auto -pa averell/averell/ebin -pa averell/averell/deps/ranch/ebin -pa averell/averell/deps/cowlib/ebin -pa averell/averell/deps/cowboy/ebin -pa averell/averell/deps/cowboy_cors/ebin -pa averell/averell/deps/getopt/ebin \n"}.
