Source: averell
Section: httpd
Priority: optional
Maintainer: Jean Parpaillon <jean.parpaillon@free.fr>
Build-Depends: debhelper (>= 9), erlang-dev, xsltproc, docbook-xsl
Standards-Version: 3.9.6
Homepage: http://github.com/jeanparpaillon/averell
Vcs-Git: https://github.com/jeanparpaillon/averell
Vcs-Browser: https://github.com/jeanparpaillon/averell

Package: averell
Architecture: all
Depends: erlang-cowboy (>=2.0.0~pre.1), erlang-getopt (>=0.8.2), ${misc:Depends}
Description: An incredibly stupid web server
 averell is an incredibly simple, but fast, web server based on the
 erlang/OTP application cowboy.
 .
 It is as simple to use as starting in a directory to serve it on
 port 8000 (default). Basic options include: enabling CORS,
 changing port, redirecting directories to index.html, etc.
 .
